.add-expense-form {
  
  &__input {
    @extend .text-input;
    display: inline-block;
    margin-left: $s-size;
  }
  &__button {
    @extend .button;
    margin-left: -$m-size;
    height: 50px;
    display: inline-block;
  }

  div {
    display: inline-block;
  }
}