.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  margin-top: -15px;
  color: #BF0D2B;
}


.googlemaps {
  &__title {
    display: inline-block;
  }
  &__icon {
    background: url('/images/google-maps.png');
    height: 50px;
    width: 50px;
    background-size: cover;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    left: 5px;
  }
}

