.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  margin-right: $m-size;
  margin-top: 5px;
  display: block;

  &--price-per-mile {
    margin-left: $s-size;
  }

  &__other {
    width: 100%;
    margin-bottom: $s-size;
  }

  &__other--notes {
    width: 100%;
    margin-bottom: $s-size;
    height: 100px;
  }

  &__filters {
    margin-right: 0;
    margin-top: 0;
  }

  &__date {
    margin-right: $m-size;
    margin-top: 0;
  }
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
