.page-header {
  background: $off-white;
  margin-bottom: $s-size;
  padding: $s-size 0 $m-size 0;

  &__actions {
    margin-top: $m-size;
  }

  &__form-name {
    margin: 0;
    margin-bottom: 10px;
  }
  
  &__title {
    font-weight: 300;
    margin: 0;
    span {
      font-weight: 700;
    }
  }

}
